*{
  margin:0;
  padding:0;
  border:0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

header{
  display:grid;
  padding:20px;
  background-image:linear-gradient(#FCFEEF, #E8F3B6);
  grid-template-columns: auto 140px;
  grid-column-gap:5px;
}

hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color:white;
    border-width: 1px;
}

#search {
  width:140px;
  background: linear-gradient(#F3F4F0, white);
  box-shadow:0px 0px 3px #78B423;
  border: 1px solid grey;
  font-size:16px;
  padding:3px 2px;
}

nav {
  display:grid;
  color:white;
  background: linear-gradient(#343434, #4F4D56,#3D3D3D, #3D3D3D, #373737) ;
  list-style:none;
  grid-template-columns: auto 180px;
  box-shadow: 0px 3px 7px grey;
}

nav ul:first-child{
  display:grid;
  list-style:none;
  padding:10px;
  font-size:18px;
  letter-spacing: -.5px;
  font-weight:bold;
  text-align:center;
  grid-template-columns: repeat(auto-fit, 80px)
}

nav ul:last-child{
  display:grid;
  color:#B0B0AD;
  font-weight:bold;
  list-style:none;
  padding:14px;
  font-size:14px;
  grid-template-columns: repeat(auto-fit, 50px)
}

#firstMenu .active{

}

@media only screen and (max-width: 640px) {




}

#homeBanner{
  margin:25px;
  background:linear-gradient(#FCFEEF, #E8F3B6);
  border: solid #F1F1F1 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px grey;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr ));
}

.bannerImage{
  margin:10px;
  background:blue;
}

.bannerText{
  margin:10px;
  font-size:32px;
  font-style:bold;
  color:#464742;
  text-align:justify;
}

.bannerText p{
  color:black;
  text-align:justify;
}

.bannerButtonHolder{
  display:grid;
  position:relative;
  margin-top:45px;
  bottom:0px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr ));
}

.bannerButton{
  padding:10px;
  font-size:14px;
  clear:none;
  color:black;
  background:lightgrey;
  border: 1px solid grey;
}

.bannerButton.green{
  color:black;
  background:#E4F6AB;
}

main{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr ));
}

section{
  margin:10px;
}

section .list{

}

.listHeader{
  font-size:20px;
  font-weight:420;
  color:grey;
  padding:5px;
}

.listSort{
  background:#E4F6AB;
  padding:5px;
}

.listSort button{
  color:green;
  padding:0 5px;
}

.listSort button:focus{
  background:#80AF38;
  color:white;
  padding:0 5px;
}

.listStory{
  display:grid;
  padding:5px;
  height:60px;
  grid-column-gap:10px;
  grid-template-columns: 60px auto;
  border-bottom: solid grey 1px;
}

.listStory:last-child{
  border-bottom:0px
}

.listVotes{
  background:radial-gradient(farthest-side at 100% 0%, #E6F1C0,  #B3D36A, #97C540, #89AF4D);
  text-align:center;
  border: white solid 2px;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 1px 1px 2px;
  font-weight:bold;
}

.listVotes div:first-child{
  margin-top:5px;
  color:white;
  text-shadow: 2px 2px 5px grey;
  font-size:30px;

}
.listVotes div:last-child{
  margin:-8px;
  color:white;
  font-size:16px;
}

.listCredit{
  font-size:12px;
}

.listTitle{
  font-size:20px;
}

.listButtons{
  display:grid;
  grid-template-columns: 24px 24px 24px auto 120px 60px;;
  font-size:14px;
}

.tagsHeader{
  font-size:20px;
  font-weight:420;
  color:grey;
  padding:5px;
}

.tagsSort{
  background:#E4F6AB;
  padding:5px;
}

.tags{
  margin:5px
}
.tags button{
  background:green;
  color:white;
  margin:5px;
  font-size:18px;
  padding:4px;
}

#read{
  display:grid;
  grid-template-columns:  auto 30%;
  grid-column-gap: 10px;
  margin:25px;
}

@media only screen and (max-width: 780px) {

  #read{
    grid-template-columns:  repeat(auto-fit, minmax(380px, 1fr ));
    margin:10px;

  }


}



.breadcrumbName{
  color:gray;
  display:grid;
  grid-template-columns: 80px auto;
}

.breadcrumbName div:first-child:after{
  content: " >>"
}

.storyTitle{
  font-size:48px;
  color:#444;
  letter-spacing: -2px;
}

.aboutAuthor{
  margin:10px;
  border:1px solid white;
  padding:10px 15px;
  border-radius: 5px;
  background-image:linear-gradient(white, #F6F6F6 , #F0F0F0);
  box-shadow:2px 2px 5px grey;
  display: grid;
  grid-template-columns: 106px auto;
  grid-column-gap:20px;
}

.aboutAuthor hr {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color:white;
    border-width: 1px;
}

.aboutPicture{
  border-radius:4px;
  width:100px;
  height:100px;
  box-shadow:0 0 4px grey;
  border: 3px white solid;
}

.aboutPicture img{
  width:100px;
  height:100px;
  border-radius:6px;
}

.aboutTimestamp {
  font-size:12px;
}

.aboutDescription {
  font-size:14px;
  height:50%;
}

.aboutButtons {
  display: grid;
  grid-template-columns: 100px 80px auto 60px;
  grid-column-gap:4px;
}

.aboutButtons button{
  padding:2px 4px;
  border-radius:5px;
  font-weight:bold;
  letter-spacing: -1px;
  background-image: linear-gradient(white, white, lightgrey);
  box-shadow:0 0 2px grey;
  font-size:16px;
}


@media only screen and (max-width: 480px) {

  #read{
    grid-template-columns:  repeat(auto-fit, minmax(280px, 1fr ));
    margin:10px;
  }

  .storyTitle{
    font-size:48px;
    text-align:center;
    color:#444;
    letter-spacing: -2px;
  }

  .aboutAuthor{
    margin:15px 2px ;
    border:1px solid white;
    padding:5px 10px;
    border-radius: 5px;
    box-shadow:2px 2px 5px grey;
    display: grid;
    font-size:10px;
    grid-template-columns: 66px auto;
    grid-column-gap:20px;
  }

  .aboutPicture{
    margin:50% 0;
    border-radius:4px;
    width:60px;
    height:60px;
    box-shadow:0 0 4px grey;
    border: 3px white solid;
  }

  .aboutPicture img{
    width:60px;
    height:60px;
    border-radius:6px;
  }

  .aboutButtons {
    display: grid;
    grid-template-columns: 80px 60px auto 45px;
    grid-column-gap:6px;
  }
  .aboutButtons button{
    padding:10px 2px;
    border-radius:5px;
    font-weight:bold;
    letter-spacing: -1px;
    background-image: linear-gradient(white, white, lightgrey);
    box-shadow:0 0 2px grey;
    font-size:14px;
  }

}

@media only screen and (max-width: 480px) {
  .aboutButtons {
    display: grid;
    grid-template-columns: 60px 60px auto 35px;
    grid-column-gap:6px;
  }
  .aboutButtons button{
    padding:10px 2px;
    border-radius:5px;
    font-weight:bold;
    letter-spacing: -1px;
    background-image: linear-gradient(white, white, lightgrey);
    box-shadow:0 0 2px grey;
    font-size:11px;
  }

}

.storySummary {
  padding:15px;
  font-size:18px;
  font-style:italic;
  font-weight:50;
  color:grey;
}

.storyContent{
  padding:10px 10px;
  font-weight:400;
  line-height: 1.6;
}

.sideInfo{
  margin-bottom:-5px;
  box-shadow: 0 0 4px #DBDBDB;
  background-image:linear-gradient(#E9F2C6,#F0F9CC,#F0F9CC);
}

.sideTitlebar{
  background:#7BBA1D;
  padding:5px 10px;
  color:white;
  font-weight:500;
  font-size:14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px grey;
}

.sideCatagory{
  display: grid;
  padding:5px 10px;
  grid-template-columns: 70px auto;
  grid-column-gap: 5px;
  font-size: 12px;
}

.sideCatagory div:first-child{
  padding:2px 4px;
  border-radius:2px;
  color:white;
  text-shadow:1px 1px 1px grey;
  background:#7BBA1D;
}

.sideCatagory div:last-child{
  padding:2px 4px;
  border-radius:2px;
  text-decoration: underline;
}

.sideDescription{
  padding:10px;
  display:grid;
  grid-template-columns: auto 80px;
  font-size:14px;
}

.sideDescription img{
  width:60px;
  height:60px;
  margin:0 10px;
  border-radius:4px;
  box-shadow:0 0 4px grey;
  border: 3px white solid;
}

.sideStats{
  display:grid;
  margin:5px 10px;
  grid-column-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 48px));
  padding:10px 0;
}

.sideStatsBox{
  border:white solid 1px;
  border-radius:6px;
  background-image:linear-gradient(#F0F9CC 50%, white);
  box-shadow:1px 1px 5px #A7D260;
  height:40px;
}

.sideStatsBox div{
  text-align:center;
  color:#7BBA1D;
  font-size:12px;
  font-weight:500;
}

.sideStatsBox div:first-child{
  text-align:center;
  font-size:18px;
  font-weight:bold;
  color:#598714;
}

.sideTags{
  background:#FCFEF1;
  padding:10px;
  z-index: -10;
  box-shadow: 0 0 4px #DBDBDB;
}

.sideTagsTitlebar{
  color:#7BBA1D;
  font-size:18px;
  font-weight:bold;
  letter-spacing:-1px;
}

.sideTagsContainer {
  padding:5px 0px;
  display:grid;
  grid-template-columns: 20px auto;

}

.sideTagsContainer div:last-child{
  display:grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.sideTagsContainer div:last-child button{
  padding:2px;
  font-size:12px;
  letter-spacing: 0px;
  font-weight: 450;
  background:#CEF09D;
  border-radius: 3px;
}

.titleHeadline{
  font-size:16px;
  color:#476C5E;
  font-weight:600;
  letter-spacing:-.5px;

}


.activitySelector{
  margin:4px;
}

.activityButtons{
  margin-top:15px;
  font-size:18px;
  display:grid;
  grid-template-columns: auto auto auto auto;
  box-shadow:0 0px 5px #C4C4C4;
  border-radius:6px;
}

.activityButtons button{
    font-weight:bold;
    padding:7px 10px;
    color:#999999;
    background-image:linear-gradient(#FEFEFE,#F9F9F9);
    box-shadow:0 0 1px grey;
}

.activityButtons button:active{
    padding:7px 10px;
}

.activityButtons button:first-child{
  background-image:linear-gradient(#F9FDE9,#E6F5AF);
  color:#598714;
  border-radius:6px 0px 0px 6px;
}

.activityButtons button:last-child{
  border-radius:0px 6px 6px 0px;
}

.activityStats{
  box-shadow:0 0px 2px #C4C4C4;
  display:grid;
  margin-top:-5px;
  padding:10px;
  background:#F9F9F9;
  grid-template-columns: 160px auto 20px 20px 20px 20px;
}

.activityStats div:first-child{
  padding-top:5px;
  font-size:13px;
  font-weight:500;
}

.activityStats button{
  height:20px;
  border-radius:10px
}

.activityTime{
  margin:5px;
  margin-top:20px;
  font-weight:600;
  color:#AAAAAA;
}

.activity{
  display:grid;
  grid-template-columns: 80px auto;
  font-size:14px;
}

.activity img{
  margin:15px;
  width:50px;
  height:50px;
  box-shadow:0 0 2px grey;
}

.activityDetails{
  margin-top:10px;

}

.activityDetails div{
  margin-bottom:5px;
  background:#F6F6F6;
}

.activityDetails div:first-child{
  font-size:16px;
  background:none;
}

.activityDetails div:last-child{
  font-size:10px;
  color:#999999;
  background:none;
}
